@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar__logo > svg {
  @apply rounded-xl;
  @apply shadow-lg;
}

.theme.__vbk__ {
  --vbk--color-primary: #262a3d;
}

html.dark .theme.__vbk__ {
  --vbk--color-primary: #55ccfe;
  --vbk--color-bg-400: #0f0f0f;
  --vbk--sidebar-item-active-bg-color: #ffffff1a;
}
