version: 2
jobs:
  test:
    docker:
      - image: cimg/node:12.13.1-browser
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  deploy_prod:
    docker:
      - image: cimg/node:12.13.1-browser
        user: root
    steps:
      - checkout
      - run: yarn
      - run: yarn build
      - run: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > .npmrc
      - run: npm publish --access public

workflows:
  version: 2
  test_build:
    jobs:
      - test
      - deploy_prod:
          requires:
            - test
          filters:
            branches:
              only:
                - v1-onboard
