version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8.15-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn
      - run: yarn test
      - run: yarn build
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  deploy_stage:
    docker:
      - image: circleci/node:8.15-browsers
        user: root
    steps:
      - checkout
      - run: sudo apt update && sudo apt install awscli
      - run: yarn
      - run: yarn build
      - run: sudo npm i -g npm-cli-login
      - run: NPM_USER=$NPM_USERNAME NPM_EMAIL=$NPM_EMAIL NPM_PASS=$NPM_PASSWORD npm-cli-login
      - run: npm publish --dry-run
  deploy_prod:
    docker:
      - image: circleci/node:8.15-browsers
        user: root
    steps:
      - checkout
      - run: sudo apt update && sudo apt install awscli
      - run: yarn
      - run: yarn build
      - run: sudo npm i -g add npm-cli-login
      - run: NPM_USER=$NPM_USERNAME NPM_EMAIL=$NPM_EMAIL NPM_PASS=$NPM_PASSWORD npm-cli-login
      - run: npm publish
  deploy_demo:
    docker:
      - image: circleci/node:8.15-browsers
        user: root
    steps:
      - run: curl -u ${REACT_DEMO_BUILD}: \
     -d build_parameters[CIRCLE_JOB]=deploy_docker \
     https://circleci.com/api/v1.1/project/<vcs-type>/<org>/<repo>/tree/<branch>

workflows:
  version: 2
  test_build:
    jobs:
      - test
      - deploy_stage:
          requires:
            - test
          filters:
            branches:
              only:
                - develop
      - deploy_prod:
          requires:
            - test
          filters:
            branches:
              only:
                - master
      - deploy_demo:
          filters:
            branches:
              only:
                - develop
